
@{
    ViewBag.Title = "Index";
}

<h2>ISalon de Belleza sitio de administracion</h2>

<div>
    <img src="~/Imagenes/portada.jpg" alt="BeatySalon - Sitio Admin" style="width: 600%; max-width: 600px;" />
</div>

