<!DOCTYPE html>
<html lang="en">

<head>
    @RenderBody()
    <title>Beauty Salon Spa</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="~/assets/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.jpg">

    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/templatemo.css">
    <link rel="stylesheet" href="~/assets/css/custom.css">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="~/assets/css/fontawesome.min.css">
        
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/jof/css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="~/jof/css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="~/jof/css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="~/jof/images/Paleta.jpg" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="~/jof/css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<body>
    
    <!-- footer -->
    <footer>
        <div class="footer layout_padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <h3>Contactanos</h3>
                        <p>plaza Santa Mónica calle que conduce a Tikamaya, antes del acceso a Residencial San Carlos en Choloma, Cortes.<br><br>(+504)2520-1626-5412<br><br>gladyspasalon@protomail.com</p>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <h3>Secciones</h3>
                        <p>
                            <a href="#blog">Sección Spa</a><br>
                            <a href="#contact">Citas</a>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <h3>Para Promociones y Noticias</h3>
                        <p>
                            <form>
                                <input type="text" name="email" placeholder="Enter Your Email" />
                                <button>Subscribe</button>
                            </form>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <p>Divine’s Beauty Salon Design & Style®</p>
            </div>
        </div>
    </footer>
    <!-- end footer -->
    <!-- Start Script -->
    <script src="~/assets/js/jquery-1.11.0.min.js"></script>
    <script src="~/assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/templatemo.js"></script>
    <script src="~/assets/js/custom.js"></script>
    <!-- End Script -->
</body>
</html>